
<div>
    {% include 'fragmentos/form_errors.html' %} 
                                                <!-- el hx-post es la parte que pone para hacerlo htmx -->                            
    <form method="POST" action="/videos/{{ object.host_id }}/edit" hx-post="/videos/{{ object.host_id }}/hx-edit">  

        <div><!-- class bootstrap -->
            <label for="title">Title</label>
            <input class="form-control" type="text" name="title" id="title"
            required="required"
            placeholder="Title"
            value="{% if object.title %}{{ object.title }}{% endif %}"/>
        </div>

        <div><!-- class bootstrap -->
            <label for="url">YouTube Link</label>
            <input class="form-control" type="text" name="url" id="url" 
            required="required"
            placeholder="https://www.youtube.com/watch?v=VO8Bk03Xv90&t=78s"
            value="{% if object.url %}{{ object.url }}{% endif %}"/>
        </div>

        <div>
            <label for="delete"> 

                <input type="checkbox" name="delete" id="delete"/> Delete?
            
            </label>
        </div>

        <button class="btn btn-primary mt-2" type="submit">Save</button>
    </form>
</div>